$focus-outline: -webkit-focus-ring-color auto 1px;
$disabled-background: #c8c8c8;

.mendix-react-datepicker {
    display: flex;
    width: 100%;
    .react-datepicker-wrapper {
        flex-grow: 1;
    }
    .react-datepicker__day--selected,
    .react-datepicker__day--range-start,
    .react-datepicker__day--range-end,
    .react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-start {
        background-color: #264ae5 !important; // Less than ideal, but the Mendix Data Grid 2 Date Filter's styling is overriding this
        color: #fff !important; // Less than ideal, but the Mendix Data Grid 2 Date Filter's styling is overriding this
    }
    .react-datepicker__day--disabled {
        background-color: $disabled-background !important; // Less than ideal, but the Mendix Data Grid 2 Date Filter's styling is overriding this
    }
    .react-datepicker__day--disabled.react-datepicker__day--outside-month {
        color: white;
    }
    .react-datepicker__day--outside-month {
        color: #4774cd; //minimum gray for a11y requirement https://color.a11y.com/ContrastPair/?bgcolor=ffffff&fgcolor=c8c8c8
    }
    .react-datepicker__navigation,
    .react-datepicker__day {
        &:focus-visible {
            outline: $focus-outline;
        }
    }
    .react-datepicker__time-list {
        overflow-x: hidden;
    }
    .react-datepicker__children-container {
        width: 100%;
        margin: 0;
        padding: 0.3rem;
    }
    .react-datepicker__time-container {
        right: -85px;
        top: -1px;
        .react-datepicker-time__header {
            font-size: 1em;
            font-weight: unset;
        }
    }
    .react-datepicker-popper {
        z-index: 999;
    }
    .today-button {
        padding: 0.5rem;
    }
    .react-datepicker__week-number {
        width: 2em;
        line-height: 2em;
        margin: 4px;
    }
    .custom-header {
        padding: 0 0.75rem 0.5rem 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .mx-text {
            flex-grow: 1;
        }
        .mx-icon-button {
            padding: 0 0.5rem;
            .glyphicon {
                color: #767676;
            }
            &:focus-visible {
                outline: $focus-outline;
            }
            &:disabled {
                color: $disabled-background;
            }
        }
    }
    &.icon-inside {
        position: relative;
        .btn-calendar {
            padding: 0;
            position: absolute;
            right: 0.75rem;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            border: none;
            &:hover,
            &:active {
                background: transparent;
            }
        }
        .react-datepicker__close-icon {
            right: 2rem;
        }
    }
}
