$focus-outline: -webkit-focus-ring-color auto 1px;

.mendix-react-datepicker {
    display: flex;
    width: 100%;
    .react-datepicker-wrapper {
        flex-grow: 1;
    }
    .react-datepicker__day--disabled {
        background-color: #c8c8c8;
    }
    .react-datepicker__day--outside-month {
        color: #555;
    }
    .react-datepicker__navigation,
    .react-datepicker__day {
        &:focus-visible {
            outline: $focus-outline;
        }
    }
}
